:root {
  --primary-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  display: grid;
  width: 100vw;
  height: 100vh;
  place-items: center;
  background: #fcefe3;
  line-height: 1.7;
  font-size: 18px;
}

h2 {
  display: flex;
  justify-content: center;
  color: #df495d;
  margin: 30px 0px 0px 0px;
  font-weight: 900;
}

h3 {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: rgb(155, 155, 155);
}

.container {
  display: grid;
  width: 80%;
  height: 90%;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.35), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.container-img {
  width: 100%;
  height: 100%;
  background: url(/img/bg-back2.jpg) no-repeat center center/cover;
}

.container-form {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
}

.container-form .form-remit {
  display: flex;
  height: 580px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-form .form-remit .heading {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0px 0px 40px 0px; 
}


.form-remit .form-control {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 420px;
  height: 44px;
  margin: 10px 0;
  font-size: 13px;
  color: rgb(136, 136, 136);
}

.form-remit .form-control input{
  outline: none;
  border: 0;
}

.form-remit .form-control  label {
  margin:0 0 0 10px;
}
.form-control input[type="email"],
.form-control input[type="password"]{
  padding: 3px 0 0 10px;

}
