:root {
  --primary-color: #fff;
  --gray-color-dark:  rgb(136, 136, 136);
  --gray-color-light: #ccc;
  --gray-color-medium: rgb(155, 155, 155);
  --blue-color-medium: rgb(100, 140, 252);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  display: grid;
  width: 100vw;
  height: 100vh;
  place-items: center;
  background: #fcefe3;
  line-height: 1.7;
  font-size: 18px;
}

h2 {
  display: flex;
  justify-content: center;
  color: #df495d;
  margin: 30px 0px 0px 0px;
  font-weight: 900;
}

h3 {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: var(--gray-color-dark);
}

.container {
  display: grid;
  width: 80%;
  height: 90%;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.container-img {
  width: 100%;
  height: 100%;
  background: url(/img/bg-back2.jpg) no-repeat center center/cover;
}

.container-form {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
}


.teste {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50%;
}

.container-form .form-remit {
  display: flex;
  height: 580px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-form .form-remit .heading {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 40px; 
}


.form-remit .form-control {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--gray-color-light);
  border-radius: 3px;
  width: 100%;
  height: 44px;
  margin: 10px 0;
  font-size: 13px;
  color: var(--gray-color-medium);
}

.form-remit .form-control input{
  outline: none;
  border: 0;
}

.form-remit .form-control  label {
  margin:0 0 0 10px;
}
.form-control input[type="email"],
.form-control input[type="password"]{
  padding: 3px 0 0 10px;

}

.form-remit .check-remember {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  color: var(--gray-color-dark);
  font-size: 16px;
}

.form-remit input[type="checkbox"] {
  width: 15px;
  height: 15px;
}

input:checked{
  background-color: var(--blue-color-dark);
  width: 15px;
  height: 15px;
}

.form-remit .forgotten:hover {
  text-decoration: underline;
}

.form-remit input[type="submit"] {
  display: inline-block;
  width: 500px;
  height: 35px;
  background: var(--blue-color-medium);
  border-radius: 3px;
  color: var(--primary-color);
  border: none;
  margin-top: 25px;
  cursor: pointer;
}

.form-remit input[type="submit"]:hover {
  border: 3px solid rgb(169, 192, 243);
  outline-style: none;
}

.form-remit .create {
  margin-top: 25px;
}

.form-remit .create:hover {
  text-decoration: underline;
}